.productList {
  padding: 20px;
  text-align: center;

  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .productCard {
    background-color: var(--white);
    border: var(--border-in-light);
    border-radius: 10px;
    box-shadow: var(--card-shadow);
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    .productImage {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .realPrice {
      font-size: 16px;
      color: var(--primary);
      margin-bottom: 5px;
    }

    .originPrice {
      font-size: 14px;
      color: gray;
      text-decoration: line-through;
    }
  }
} 